name: flutterkeylogger
description: A event/key logging plugin for android
version: 1.0.1+1
homepage: https://github.com/cimplesid/learn-flutter-youtube/tree/master/flutterkeylogger

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=1.10.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter


flutter:
  plugin:
    platforms:
      android:
        package: youtube.sidtube.flutterkeylogger
        pluginClass: FlutterkeyloggerPlugin
      ios:
        pluginClass: FlutterkeyloggerPlugin

